In [257]:
import sqlite3

# CREATE FIRST TABLE
population_data = []

with open('World_country_populations.csv') as file:
    for line in file:
        line = line.strip().split(',')
        line[1] = line[1][:-1]
        population_data.append(line)


connection = sqlite3.connect('country_data.db')
cursor = connection.cursor()
cursor.execute('create table if not exists countries (num int, country, population int, migrants int, median_age int)')

for country in population_data[1:]:
    cursor.execute('insert into countries values(?,?,?,?,?)',(int(country[0]), country[1], int(country[2]), country[7], country[9]))
    
connection.commit()
connection.close()

In [258]:
import sqlite3

# CREATE SECOND TABLE
gdp_data = []

with open('GDP_countries.txt') as file:
    
    for line in file:
        if 'Estimate' in line:
            continue
        line = line.strip().split('\t')
        while len(line) >= 4:
            # if the year has extra characters
            if len(line[-1]) > 4:
                # remove them
                line[-1] = line[-1][5:]

            # Replacing n/a entries with a zero
            if 'n/a' in line[-2].lower():
                line[-2] = 0
            # if
            try:
                line[-2] = int(line[-2].replace(',',''))
                line[-1] = int(line[-1])
            except:
                pass     
            gdp_data.append(line[:2]+line[-1:-3:-1])
            line.pop()
            line.pop()
connection = sqlite3.connect('country_data.db')
cursor = connection.cursor()
cursor.execute('create table if not exists gdp_countries (country_Territory, region, year int, estimate int)')

for country in gdp_data:
    cursor.execute('insert into gdp_countries values(?,?,?,?)',country)

connection.commit()
connection.close()

In [337]:
# Calculate the population range
# Find countries at the bottom 20%
# Find total population of the bottom 50%
# Find the mean population

connection = sqlite3.connect('country_data.db')
cursor = connection.cursor()
data = list(cursor.execute('select * from countries order by population desc'))
connection.close()

# Countries within lowest 20% population
countries_bottom_20 = (int(len(data)*.2))
print('Countries within lowest 20% population:')
print(*data[:-countries_bottom_20:-1],'\n')

# Combined population of the bottom 50%
countries_bottom_50 = (int(len(data)*.5))
total = 0

for country in range(-1,-countries_bottom_50,-1):
    total += data[country][2]
print(f"Combined population of the bottom 50% {total}\n")

# Find mean population of all countries
total = 0
for country in data:
    total += country[2]
print(f'mean population of all countries {total/len(data)}\n')

Countries within lowest 20% population:
(235, 'Holy See', 801, '', 'N.A. ') (234, 'Tokelau', 1357, '', 'N.A. ') (233, 'Niue', 1626, '', 'N.A. ') (232, 'Falkland Islands', 3480, '', 'N.A. ') (231, 'Montserrat', 4992, '', 'N.A. ') (230, 'Saint Pierre & Miquelon', 5794, '', 'N.A. ') (229, 'Saint Helena', 6077, '', 'N.A. ') (228, 'Saint Barthelemy', 9877, '', 'N.A. ') (227, 'Nauru', 10824, '', 'N.A. ') (226, 'Wallis & Futuna', 11239, '', 'N.A. ') (225, 'Tuvalu', 11792, '', 'N.A. ') (224, 'Anguilla', 15003, '', 'N.A. ') (223, 'Cook Islands', 17564, '', 'N.A. ') (222, 'Palau', 18094, '', 'N.A. ') (221, 'Caribbean Netherlands', 26223, '', 'N.A. ') (220, 'British Virgin Islands', 30231, '', 'N.A. ') (219, 'Gibraltar', 33691, '', 'N.A. ') (218, 'San Marino', 33931, '', 'N.A. ') (217, 'Liechtenstein', 38128, '', 'N.A. ') (216, 'Saint Martin', 38666, '', 'N.A. ') (215, 'Turks and Caicos', 38717, '', 'N.A. ') (214, 'Monaco', 39242, '', 'N.A. ') (213, 'Sint Maarten', 42876, '', 'N.A. ') (212, 'Faeroe Islands', 48863, '', 'N.A. ') (211, 'Saint Kitts & Nevis', 53199, '', 'N.A. ') (210, 'American Samoa', 55191, '', 'N.A. ') (209, 'Greenland', 56770, '', 'N.A. ') (208, 'Northern Mariana Islands', 57559, '', 'N.A. ') (207, 'Marshall Islands', 59190, '', 'N.A. ') (206, 'Bermuda', 62278, '', 'N.A. ') (205, 'Cayman Islands', 65722, '', 'N.A. ') (204, 'Dominica', 71986, '', 'N.A. ') (203, 'Andorra', 77265, '', 'N.A. ') (202, 'Isle of Man', 85033, '', 'N.A. ') (201, 'Antigua and Barbuda', 97929, 0, 34) (200, 'Seychelles', 98347, -200, 34) (199, 'U.S. Virgin Islands', 104425, -451, 43) (198, 'Tonga', 105695, -800, 22) (197, 'Aruba', 106766, 201, 41) (196, 'St. Vincent & Grenadines', 110940, -200, 33) (195, 'Grenada', 112523, -200, 32) (194, 'Kiribati', 119449, -800, 23) (193, 'Curaçao', 164093, 515, 42) (192, 'Guam', 168775, -506, 31) (191, 'Channel Islands', 173863, 1351, 43) (190, 'Saint Lucia', 183627, 0, 34)

Combined population of the bottom 50% 139884125
mean population of all countries 33171202.680851065

In [326]:
import statistics

connection = sqlite3.connect('country_data.db')
cursor = connection.cursor()

data_all = list(cursor.execute('select * from gdp_countries order by estimate desc'))
population_data = list(cursor.execute('select * from countries order by population desc'))
data_2021 = list(cursor.execute('select distinct * from gdp_countries where year == 2021 order by estimate desc'))
connection.close()

# 5 - Using the statistics library what is the standard deviation of the population data
population_all = []
for country in population_data:
    population_all.append(country[2])
    total += country[2]
standard_deviation_all = round(statistics.stdev(population_all),2)
print(f'Standard Deviation All Population: {standard_deviation_all}\n')


# 6 - How many countries are within 1 standard deviation of the mean (incomplete)
total = 0
gdp_2021 = []
for country in data_2021:
    gdp_2021.append(country[-1])
    total += country[-1]

mean_2021 = statistics.mean(population_all)
print(round(mean_2021, 2))


# 7 - Display the country name, population, and GDP for 2021
connection = sqlite3.connect('country_data.db')
cursor = connection.cursor()
cursor.execute(f'SELECT A.country, A.population, B.estimate, B.year FROM countries A LEFT JOIN gdp_countries B on A.country = B.country_Territory order by A.population desc')
rows = cursor.fetchall()

print('Country Name, Population , and GDP for 2021:')
for country in data_2021:
    print('\t',country)


# 8 - Print the top 10 countries GDP per population (incomplete)
gdp_per_person = []
for row in rows:
    try:
        gdp_per_person.append([row[2]/row[1], row[0]])
    except:
        pass
[print(person) for person in sorted(gdp_per_person, reverse = True)[:10]]

# 9 - Print the bottom 50 countries GDP per population
items_found = 0
counter = 0
while items_found < 50:
    if isinstance(rows[counter][1], int) and isinstance(rows[counter][2], int) and isinstance(rows[counter][3], int):
        items_found += 1
        print(rows[counter])
    counter -= 1

Standard Deviation All Population: 135136985.28

33171202.68
Country Name, Population , and GDP for 2021:
	 ('United States', 'Americas', 2021, 22675271)
	 ('China', 'Asia', 2021, 16642318)
	 ('Japan', 'Asia', 2021, 5378136)
	 ('Germany', 'Europe', 2021, 4319286)
	 ('United Kingdom', 'Europe', 2021, 3124650)
	 ('India', 'Asia', 2021, 3049704)
	 ('France', 'Europe', 2021, 2938271)
	 ('Italy', 'Europe', 2021, 2106287)
	 ('Canada', 'Americas', 2021, 1883487)
	 ('South Korea', 'Asia', 2021, 1806707)
	 ('Russia', 'Europe', 2021, 1710734)
	 ('Australia', 'Oceania', 2021, 1617543)
	 ('Brazil', 'Americas', 2021, 1491772)
	 ('Spain', 'Europe', 2021, 1461552)
	 ('Mexico', 'Americas', 2021, 1192480)
	 ('Indonesia', 'Asia', 2021, 1158783)
	 ('Netherlands', 'Europe', 2021, 1012598)
	 ('Switzerland', 'Europe', 2021, 824734)
	 ('Saudi Arabia', 'Asia', 2021, 804921)
	 ('Turkey', 'Asia', 2021, 794530)
	 ('Taiwan', 'Asia', 2021, 759104)
	 ('Iran', 'Asia', 2021, 682859)
	 ('Poland', 'Europe', 2021, 642121)
	 ('Sweden', 'Europe', 2021, 625948)
	 ('Belgium', 'Europe', 2021, 578996)
	 ('Thailand', 'Asia', 2021, 538735)
	 ('Nigeria', 'Africa', 2021, 514049)
	 ('Austria', 'Europe', 2021, 481796)
	 ('Ireland', 'Europe', 2021, 476663)
	 ('Israel', 'Asia', 2021, 446708)
	 ('Norway', 'Europe', 2021, 444519)
	 ('Argentina', 'Americas', 2021, 418150)
	 ('Bangladesh', 'Asia', 2021, 409584)
	 ('Philippines', 'Asia', 2021, 402638)
	 ('United Arab Emirates', 'Asia', 2021, 401513)
	 ('Egypt', 'Africa', 2021, 394284)
	 ('Denmark', 'Europe', 2021, 392570)
	 ('Malaysia', 'Asia', 2021, 387093)
	 ('Singapore', 'Asia', 2021, 374394)
	 ('Hong Kong', 'Asia', 2021, 368633)
	 ('Vietnam', 'Asia', 2021, 354868)
	 ('South Africa', 'Africa', 2021, 329529)
	 ('Chile', 'Americas', 2021, 307938)
	 ('Finland', 'Europe', 2021, 300484)
	 ('Colombia', 'Americas', 2021, 295610)
	 ('Romania', 'Europe', 2021, 289130)
	 ('Pakistan', 'Asia', 2021, 286340)
	 ('Czech Republic', 'Europe', 2021, 276109)
	 ('Portugal', 'Europe', 2021, 257391)
	 ('New Zealand', 'Oceania', 2021, 243332)
	 ('Peru', 'Americas', 2021, 225918)
	 ('Greece', 'Europe', 2021, 209857)
	 ('Iraq', 'Asia', 2021, 190733)
	 ('Kazakhstan', 'Asia', 2021, 187836)
	 ('Hungary', 'Europe', 2021, 176543)
	 ('Qatar', 'Asia', 2021, 166031)
	 ('Ukraine', 'Europe', 2021, 164593)
	 ('Algeria', 'Africa', 2021, 151459)
	 ('Kuwait', 'Asia', 2021, 126930)
	 ('Morocco', 'Africa', 2021, 124003)
	 ('Slovakia', 'Europe', 2021, 117664)
	 ('Kenya', 'Africa', 2021, 106041)
	 ('Puerto Rico', 'Americas', 2021, 100684)
	 ('Ecuador', 'Americas', 2021, 100595)
	 ('Ethiopia', 'Africa', 2021, 93966)
	 ('Sri Lanka', 'Asia', 2021, 84532)
	 ('Luxembourg', 'Europe', 2021, 84077)
	 ('Dominican Republic', 'Americas', 2021, 83917)
	 ('Guatemala', 'Americas', 2021, 81402)
	 ('Bulgaria', 'Europe', 2021, 77782)
	 ('Myanmar', 'Asia', 2021, 76195)
	 ('Ghana', 'Africa', 2021, 74260)
	 ('Oman', 'Asia', 2021, 74115)
	 ('Ivory Coast', 'Africa', 2021, 70991)
	 ('Angola', 'Africa', 2021, 66493)
	 ('Tanzania', 'Africa', 2021, 65919)
	 ('Croatia', 'Europe', 2021, 65217)
	 ('Lithuania', 'Europe', 2021, 62198)
	 ('Uzbekistan', 'Asia', 2021, 61203)
	 ('Costa Rica', 'Americas', 2021, 61178)
	 ('Belarus', 'Europe', 2021, 60725)
	 ('Serbia', 'Europe', 2021, 60435)
	 ('Panama', 'Americas', 2021, 59377)
	 ('Slovenia', 'Europe', 2021, 59132)
	 ('Uruguay', 'Americas', 2021, 55459)
	 ('DR Congo', 'Africa', 2021, 55088)
	 ('Turkmenistan', 'Asia', 2021, 54218)
	 ('Azerbaijan', 'Asia', 2021, 49914)
	 ('Jordan', 'Asia', 2021, 44979)
	 ('Cameroon', 'Africa', 2021, 44893)
	 ('Tunisia', 'Africa', 2021, 44265)
	 ('Bolivia', 'Americas', 2021, 43110)
	 ('Venezuela', 'Americas', 2021, 42530)
	 ('Uganda', 'Africa', 2021, 41271)
	 ('Macau', 'Asia', 2021, 39449)
	 ('Paraguay', 'Americas', 2021, 37836)
	 ('Latvia', 'Europe', 2021, 37720)
	 ('Bahrain', 'Asia', 2021, 37503)
	 ('Nepal', 'Asia', 2021, 36084)
	 ('Sudan', 'Africa', 2021, 35827)
	 ('Estonia', 'Europe', 2021, 35187)
	 ('Senegal', 'Africa', 2021, 27927)
	 ('Cambodia', 'Asia', 2021, 27239)
	 ('Cyprus', 'Asia', 2021, 26479)
	 ('El Salvador', 'Americas', 2021, 26277)
	 ('Honduras', 'Americas', 2021, 26161)
	 ('Zimbabwe', 'Africa', 2021, 26085)
	 ('Yemen', 'Asia', 2021, 25095)
	 ('Papua New Guinea', 'Oceania', 2021, 24536)
	 ('Libya', 'Africa', 2021, 24267)
	 ('Iceland', 'Europe', 2021, 24155)
	 ('Haiti', 'Americas', 2021, 22431)
	 ('Trinidad and Tobago', 'Americas', 2021, 22161)
	 ('Bosnia and Herzegovina', 'Europe', 2021, 21953)
	 ('Laos', 'Asia', 2021, 20440)
	 ('Afghanistan', 'Asia', 2021, 19938)
	 ('Mali', 'Africa', 2021, 19912)
	 ('Zambia', 'Africa', 2021, 18955)
	 ('Burkina Faso', 'Africa', 2021, 18853)
	 ('Botswana', 'Africa', 2021, 18726)
	 ('Gabon', 'Africa', 2021, 18362)
	 ('Benin', 'Africa', 2021, 17327)
	 ('Albania', 'Europe', 2021, 17138)
	 ('Malta', 'Europe', 2021, 16476)
	 ('Guinea', 'Africa', 2021, 16339)
	 ('Georgia', 'Asia', 2021, 16163)
	 ('Niger', 'Africa', 2021, 15899)
	 ('Brunei', 'Asia', 2021, 15278)
	 ('Madagascar', 'Africa', 2021, 14746)
	 ('Jamaica', 'Americas', 2021, 14600)
	 ('Mongolia', 'Asia', 2021, 14233)
	 ('Mozambique', 'Africa', 2021, 13957)
	 ('North Macedonia', 'Europe', 2021, 13821)
	 ('Chad', 'Africa', 2021, 12531)
	 ('Nicaragua', 'Americas', 2021, 12283)
	 ('Armenia', 'Asia', 2021, 12251)
	 ('Mauritius', 'Africa', 2021, 12212)
	 ('Congo', 'Africa', 2021, 12022)
	 ('Equatorial Guinea', 'Africa', 2021, 11726)
	 ('Bahamas', 'Americas', 2021, 11706)
	 ('Namibia', 'Africa', 2021, 11381)
	 ('Rwanda', 'Africa', 2021, 10633)
	 ('Malawi', 'Africa', 2021, 9268)
	 ('Mauritania', 'Africa', 2021, 9239)
	 ('Kosovo', 'Europe', 2021, 8810)
	 ('Togo', 'Africa', 2021, 8627)
	 ('Tajikistan', 'Asia', 2021, 7825)
	 ('Kyrgyzstan', 'Asia', 2021, 7470)
	 ('Guyana', 'Americas', 2021, 7255)
	 ('Montenegro', 'Europe', 2021, 5651)
	 ('Somalia', 'Africa', 2021, 5367)
	 ('Barbados', 'Americas', 2021, 4628)
	 ('Fiji', 'Oceania', 2021, 4586)
	 ('Maldives', 'Asia', 2021, 4536)
	 ('South Sudan', 'Africa', 2021, 4461)
	 ('Sierra Leone', 'Africa', 2021, 4420)
	 ('Eswatini', 'Africa', 2021, 4226)
	 ('Djibouti', 'Africa', 2021, 3663)
	 ('Liberia', 'Africa', 2021, 3370)
	 ('Burundi', 'Africa', 2021, 3244)
	 ('Central African Republic', 'Africa', 2021, 2718)
	 ('Aruba', 'Americas', 2021, 2582)
	 ('Bhutan', 'Asia', 2021, 2480)
	 ('Suriname', 'Americas', 2021, 2465)
	 ('Lesotho', 'Africa', 2021, 2458)
	 ('Eritrea', 'Africa', 2021, 2250)
	 ('Gambia', 'Africa', 2021, 2078)
	 ('Cape Verde', 'Africa', 2021, 2003)
	 ('Saint Lucia', 'Americas', 2021, 1787)
	 ('East Timor', 'Asia', 2021, 1726)
	 ('Belize', 'Americas', 2021, 1700)
	 ('San Marino', 'Europe', 2021, 1688)
	 ('Guinea-Bissau', 'Africa', 2021, 1647)
	 ('Solomon Islands', 'Oceania', 2021, 1644)
	 ('Antigua and Barbuda', 'Americas', 2021, 1376)
	 ('Comoros', 'Africa', 2021, 1309)
	 ('Grenada', 'Americas', 2021, 1041)
	 ('Seychelles', 'Africa', 2021, 948)
	 ('Vanuatu', 'Oceania', 2021, 912)
	 ('Saint Kitts and Nevis', 'Americas', 2021, 831)
	 ('Saint Vincent and the Grenadines', 'Americas', 2021, 798)
	 ('Samoa', 'Oceania', 2021, 752)
	 ('Dominica', 'Americas', 2021, 523)
	 ('Tonga', 'Oceania', 2021, 508)
	 ('São Tomé and Príncipe', 'Africa', 2021, 485)
	 ('Micronesia', 'Oceania', 2021, 401)
	 ('Marshall Islands', 'Oceania', 2021, 234)
	 ('Kiribati', 'Oceania', 2021, 231)
	 ('Palau', 'Oceania', 2021, 229)
	 ('Nauru', 'Oceania', 2021, 133)
	 ('Tuvalu', 'Oceania', 2021, 57)
[0.40444711538461536, 'Montserrat']
[0.18918505682686917, 'Monaco']
[0.18915957392589572, 'Monaco']
[0.17936949223667645, 'Liechtenstein']
[0.1782679395719681, 'Liechtenstein']
[0.13457308538292342, 'Anguilla']
[0.1343130269753889, 'Luxembourg']
[0.12017084684800411, 'Bermuda']
[0.11819583159382126, 'Bermuda']
[0.11703925697069226, 'Luxembourg']
('China', 1439323776, 14342933, 2019)
('Montserrat', 4992, 0, 67)
('Nauru', 10824, 133, 2021)
('Nauru', 10824, 132, 2019)
('Nauru', 10824, 118, 2019)
('Tuvalu', 11792, 57, 2021)
('Tuvalu', 11792, 49, 2020)
('Tuvalu', 11792, 47, 2019)
('Anguilla', 15003, 0, 379)
('Cook Islands', 17564, 0, 379)
('Palau', 18094, 229, 2021)
('Palau', 18094, 280, 2019)
('Palau', 18094, 268, 2019)
('San Marino', 33931, 1688, 2021)
('San Marino', 33931, 1616, 2019)
('San Marino', 33931, 1602, 2019)
('Liechtenstein', 38128, 6797, 2019)
('Liechtenstein', 38128, 6839, 2018)
('Monaco', 39242, 7424, 2019)
('Monaco', 39242, 7423, 2019)
('Sint Maarten', 42876, 1009, 2019)
('Sint Maarten', 42876, 1185, 2018)
('Greenland', 56770, 3023, 2019)
('Greenland', 56770, 3052, 2018)
('Marshall Islands', 59190, 234, 2021)
('Marshall Islands', 59190, 239, 2019)
('Marshall Islands', 59190, 237, 2019)
('Bermuda', 62278, 7484, 2019)
('Bermuda', 62278, 7361, 2019)
('Cayman Islands', 65722, 6020, 2019)
('Cayman Islands', 65722, 5936, 2019)
('Dominica', 71986, 523, 2021)
('Dominica', 71986, 470, 2020)
('Dominica', 71986, 582, 2019)
('Andorra', 77265, 3155, 2019)
('Andorra', 77265, 3154, 2019)
('Antigua and Barbuda', 97929, 1376, 2021)
('Antigua and Barbuda', 97929, 1415, 2020)
('Antigua and Barbuda', 97929, 1661, 2019)
('Seychelles', 98347, 948, 2021)
('Seychelles', 98347, 1125, 2020)
('Seychelles', 98347, 1698, 2019)
('Tonga', 105695, 508, 2021)
('Tonga', 105695, 512, 2019)
('Tonga', 105695, 508, 2019)
('Aruba', 106766, 2582, 2021)
('Aruba', 106766, 3293, 2019)
('Aruba', 106766, 3202, 2018)
('Grenada', 112523, 1041, 2021)
('Grenada', 112523, 1089, 2020)