<h1>Instructions</h1>
Normalize the following block of data by copying the data below, except the triple quotes, <br>
and placing the data in a file called employee_data.csv<br>
1 - Import the file using core python<br>
2 - Normalize the data and separate into component tables<br>
3 - Use SQL to create the tables and populate them<br>
4 - Answer the following questions using SQL<br>
- Provide a count of the employees by gender<br>
- Provide a count of the employees by dept name<br>
- Provide a list of employees in last name, first name order<br>
- Provide a list of employees in tenure order (active employees only) in descending order<br>
- Provide a list of employees by manager name in alphabetical order by last name<br>
- Provide a list of employees by region<br>
- Provide a list of employees who have exceeded their allotment of sick days<br>

In [313]:
import sqlite3
employee_data = []
with open('employee_data.csv', 'r') as file:
    for line in file:
        employee_data.append(line.replace("'",'').split(',')[1:])

connection = sqlite3.connect('employee_data.db')
cursor = connection.cursor()
cursor.execute('''create table if not exists employees (
    marital_status text, 
    last_name text, 
    first_name text, 
    hire_date text, 
    gender text, 
    dept_id text, 
    dept_name text, 
    manager_id int, 
    status text, 
    term_date text, 
    region text, 
    sick_days_accumulated text, 
    sick_day1 text, 
    sick_day2 text, 
    sick_day3 text
)''')

for employee in employee_data[1:]:
    cursor.execute('''insert into employees values (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', (employee))

connection.commit()
connection.close()

In [314]:
import sqlite3

male_employees = []
female_employees = []

connection = sqlite3.connect('employee_data.db')
cursor = connection.cursor()

# employees by name
male = list(cursor.execute("""select * from employees where gender = 'Male'"""))
female = list(cursor.execute("""select * from employees where gender = 'Female'"""))

# get department names
department_names = set(cursor.execute("""select dept_name from employees"""))
department_names = [name[0] for name in department_names]

# Count of employeess by department name
by_department={}
for department in department_names:
    by_department[department] = list(cursor.execute("select last_name,first_name from employees where dept_name = ?",(department,)))    
[print(department,by_department[department],'\n') for department in by_department]

Accounting [('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Davidson', 'Wilma'), ('Xi', 'Yu'), ('Martinez', 'Margarita'), ('Regis', 'Lucy')]

Information Technology [('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Pollard', 'Franz'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Holland', 'Henry'), ('Torrez', 'Lea')]

Warehouse [('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica'), ('Sing', 'Hu'), ('Breen', 'Margret'), ('Opus', 'Oliver'), ('Lee', 'Tatum'), ('Jackson', 'Jessica'), ('Forrest', 'Peter'), ('Jones', 'Jessica')]

Executive [('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle')]

Finance [('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia'), ('Davidson', 'Fred'), ('Williams', 'William'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Quinones', 'Maribel'), ('Nulland', 'Nicholas'), ('Saunders', 'Asia')]

Human Resources [('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula'), ('Ellis', 'Francis'), ('Yee', 'Sue'), ('Tate', 'Rachael'), ('Williamson', 'Ursula'), ('French', 'Sara'), ('Ute', 'Ulsula')]

[None, None, None, None, None, None]

In [315]:
# Employees alphabetically by last name
sorted_last_name = list(cursor.execute("select last_name,first_name from employees order by last_name asc"))    
for i in sorted_last_name:
    print(' '.join(i))

Breen Margret
Breen Margret
Breen Margret
Breen Margret
Breen Margret
Breen Margret
Breen Margret
Breen Margret
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davidson Fred
Davidson Wilma
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Davis Elizabeth
Ellis Francis
Ellis Francis
Ellis Francis
Ellis Francis
Ellis Francis
Ellis Francis
Ellis Francis
Ellis Francis
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Freach Greta
Freach Greta
Freach Greta
Freach Greta
Freach Greta
Freach Greta
Freach Greta
Freach Greta
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
Gantt Jackson
Gantt Jackson
Gantt Jackson
Gantt Jackson
Gantt Jackson
Gantt Jackson
Gantt Jackson
Gantt Jackson
Holland Henry
Holland Henry
Holland Henry
Holland Henry
Holland Henry
Holland Henry
Holland Henry
Holland Henry
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jarvis Melvin
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Jones Pamala
Jones Jessica
Keller Bradley
Keller Bradley
Keller Bradley
Keller Bradley
Keller Bradley
Keller Bradley
Keller Bradley
Keller Bradley
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lagos Leeland
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Nulland Nicholas
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Pollard Franz
Pollard Franz
Pollard Franz
Pollard Franz
Pollard Franz
Pollard Franz
Pollard Franz
Pollard Franz
Quinones Maribel
Quinones Maribel
Quinones Maribel
Quinones Maribel
Quinones Maribel
Quinones Maribel
Quinones Maribel
Quinones Maribel
Ramos Diego
Ramos Diego
Ramos Diego
Ramos Diego
Ramos Diego
Ramos Diego
Ramos Diego
Ramos Diego
Regis Lucy
Regis Lucy
Regis Lucy
Regis Lucy
Regis Lucy
Regis Lucy
Regis Lucy
Regis Lucy
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Sanchez Jorge
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saulzman Randle
Saunders Asia
Saunders Asia
Saunders Asia
Saunders Asia
Saunders Asia
Saunders Asia
Saunders Asia
Saunders Asia
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sung Henry
Sung Henry
Sung Henry
Sung Henry
Sung Henry
Sung Henry
Sung Henry
Sung Henry
Tate Rachael
Tate Rachael
Tate Rachael
Tate Rachael
Tate Rachael
Tate Rachael
Tate Rachael
Tate Rachael
Torrez Lea
Torrez Lea
Torrez Lea
Torrez Lea
Torrez Lea
Torrez Lea
Torrez Lea
Torrez Lea
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Williams William
Williams William
Williams William
Williams William
Williams William
Williams William
Williams William
Williams William
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Xi Yu
Xi Yu
Xi Yu
Xi Yu
Xi Yu
Xi Yu
Xi Yu
Xi Yu
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue

In [316]:
# list of active employees by tenure order desc
sorted_tenure = list(cursor.execute("select last_name,first_name from employees where status = 'NON-EXEMPT' order by hire_date desc"))    
for i in sorted_tenure:
    print(' '.join(i))

Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Sing Hu
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Yee Sue
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Jackson Jessica
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Martinez Margarita
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
Lee Tatum
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
French Sara
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Opus Oliver
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Rivera Jewels
Jones Jessica
Jones Jessica
Jones Jessica
Jones Jessica
Jones Jessica
Jones Jessica
Jones Jessica
Jones Jessica
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Forrest Peter
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Ute Ulsula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula
Williamson Ursula

In [317]:
# get manager id's
manager_ids = set(cursor.execute("""select manager_id from employees"""))
manager_ids = [name[0] for name in manager_ids]

# list of employees by manager name, in order alphabetically by managers last name (there is no manager name in provided data......?)
# sorted_manager = list(cursor.execute("select last_name,first_name from employees order by manager_id desc"))
managers={}
for manager_id in manager_ids:
    managers[manager_id] = (list(cursor.execute("select last_name,first_name from employees where manager_id = ? order by last_name asc",(manager_id,))) )
managers = dict(sorted(managers.items()))
for i in managers:
    print(i,managers[i],'\n')

1 [('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue')]

2 [('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea')]

3 [('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William')]

19 [('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels')]

30 [('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu')]

37 [('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Davidson', 'Fred'), ('Davidson', 'Wilma'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu')]

In [318]:
# get regions
regions = set(cursor.execute("""select region from employees"""))
regions = [region[0] for region in regions]

# lists of employees by region, alphatbetically
by_region = {}
for region in regions:
    by_region[region] = (list(cursor.execute("select last_name,first_name from employees where region = ? order by last_name asc",(region,))) )
by_region = dict(sorted(by_region.items()))
for i in by_region:
    print(i,by_region[i],'\n')

EAST [('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Breen', 'Margret'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Keller', 'Bradley'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Nulland', 'Nicholas'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Opus', 'Oliver'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Pollard', 'Franz'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle'), ('Saulzman', 'Randle')]

NORTH EAST [('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Davidson', 'Fred'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Ellis', 'Francis'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Jones', 'Pamala'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Ramos', 'Diego'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Rivera', 'Jewels'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sanchez', 'Jorge'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Sing', 'Hu'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue'), ('Yee', 'Sue')]

NORTH WEST [('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Jackson', 'Jessica'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Lee', 'Tatum'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Saunders', 'Asia'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula'), ('Ute', 'Ulsula')]

SOUTH EAST [('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Forrest', 'Peter'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Holland', 'Henry'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Jones', 'Jessica'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Lagos', 'Leeland'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Martinez', 'Margarita'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Regis', 'Lucy'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea'), ('Torrez', 'Lea')]

SOUTH WEST [('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davidson', 'Wilma'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Davis', 'Elizabeth'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Freach', 'Greta'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Gantt', 'Jackson'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Jarvis', 'Melvin'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Sung', 'Henry'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Tate', 'Rachael'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William'), ('Williams', 'William')]

WEST [('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('French', 'Sara'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Quinones', 'Maribel'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Williamson', 'Ursula'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu'), ('Xi', 'Yu')]

In [319]:
# lists of employees exceeding their allotment of sick days
# get names
names = set(cursor.execute("""select last_name,first_name from employees order by last_name asc"""))
names = [name for name in names]

# lists of employees sick day data
sick_days = {}
for name in names:
    sick_days[' '.join(name)] = (list(cursor.execute("select sick_days_accumulated,sick_day1,sick_day2,sick_day3 from employees where last_name = ?",(name[0],))) )
by_region = dict(sorted(by_region.items()))

employees_exceeding = [] 

for employee in sick_days:
    # create key/value of employee/sick_day_data
    sick_days[employee] = list(sick_days[employee][0])
    for i in range(len(sick_days[employee])):
        try:
            # remove unwanted data
            sick_days[employee].remove('')
        except:
            pass
        # lol
        try:
            sick_days[employee].remove('\n')
        except:
            pass

    # if they used more sick days than they have
    if int(sick_days[employee][0]) < len(sick_days[employee][1:]):
        (sick_days[employee])
        employees_exceeding.append(employee)
    
for i in employees_exceeding:
    print(i)
connection.close()

Martinez Margarita