In [1]:
# No idea what we are doing yet........

In [5]:
# Create the database
import sqlite3

connection = sqlite3.connect('library.db')
# Executing many commands with .executescript()
cursor = connection.executescript("""
create table if not exists person(
    first_name text, last_name text, age integer
);

create table if not exists books(
    title text, author text, published text
);

insert into books values(
    'Dirk Gently''s Holistic Dective Agency',
    'Douglas Adams',
    1987, '0', '0'
);
INSERT into books values ('Outliers','Malcolm Gladwell', 1684, '0', '0');
INSERT into books values ('Humble Pie','Matt Parker', 1952, '0', '0');
INSERT into books values ('52 Small Changes','Brett Blumenthal', 1765, '0', '0');
INSERT into books values ('Blink','Malcolm Gladwell', 1647, '0', '0');
INSERT into books values ('The Tipping Point','Malcolm Gladwell', 1945, '0', '0');
INSERT into books values ('All the Powers of Earth','Sidney Blumenthal', 1976, '0', '0');
""")
connection.commit()
connection.close()

In [20]:
# Check created tables
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('select name from sqlite_master')
tables = cursor.fetchall()
for table in tables:
    print(table)
connection.close()

('person',)
('books',)

In [1]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
# changing column names
cursor.execute('alter table books rename column title to sub_title')
connection.commit()

cursor.execute('select * from books')
books = cursor.fetchall()

[print(book) for book in books]

OperationalError: no such column: "title"

In [3]:
# Adding column to a table
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()


try:
    # Syntax for adding columns
    cursor.execute('alter table books add column likes int')
    cursor.execute('alter table books add column price text')
    cursor.execute('alter table books add column ebook_price text')
    connection.commit()
except:
    pass

cursor.execute('select * from books')
books = cursor.fetchall()

print([book for book in books])

connection.close()

[("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', None, None, None), ("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', '0', '0', None), ('Outliers', 'Malcolm Gladwell', '1684', '0', '0', None), ("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', '0', '0', None), ('Outliers', 'Malcolm Gladwell', '1684', '0', '0', None), ('Humble Pie', 'Matt Parker', '1952', '0', '0', None), ("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', '0', '0', None), ('Outliers', 'Malcolm Gladwell', '1684', '0', '0', None), ('Humble Pie', 'Matt Parker', '1952', '0', '0', None), ('52 Small Changes', 'Brett Blumenthal', '1765', '0', '0', None), ('Blink', 'Malcolm Gladwell', '1647', '0', '0', None), ('The Tipping Point', 'Malcolm Gladwell', '1945', '0', '0', None), ('All the Powers of Earth', 'Sidney Blumenthal', '1976', '0', '0', None), ("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', '0', '0', None), ('Outliers', 'Malcolm Gladwell', '1684', '0', '0', None), ('Humble Pie', 'Matt Parker', '1952', '0', '0', None), ('52 Small Changes', 'Brett Blumenthal', '1765', '0', '0', None), ('Blink', 'Malcolm Gladwell', '1647', '0', '0', None), ('The Tipping Point', 'Malcolm Gladwell', '1945', '0', '0', None), ('All the Powers of Earth', 'Sidney Blumenthal', '1976', '0', '0', None)]

In [24]:
import sqlite3
connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('''
    update books set price = '12.99' where author = 'Malcolm Gladwell'
''')
connection.commit()
books = cursor.execute('select * from books')
[print(book) for book in books]
connection.close()

("Dirk Gently's Holistic Dective Agency", 'Douglas Adams', '1987', None, None)