In [26]:
# from the provided file 'US_Presidents_unordered.txt':
    # seperate the data into the following in order:
        # first_name
        # middle_intial
        # last_name
        # begin_term
        # end_term
        # presedential order

    # Create a report as a new txt file containing the following in presidential order:
        # order_number
        # first_name 
        # middle_initial
        # last_name
        # begin_term
        # end_term 
        # years_in_office

    # Save the data into a database into the respective columns in presidential order:
        # order text,  
        # first_name text, 
        # middle_initial text,
        # last_name text 
        # begin_term text, 
        # end_term text, 
        # years_in_office real,

In [101]:
import sqlite3

data = {}
with open("US_Presidents_unordered.txt", "r") as file:
    line = file.readline()
    while line:
        # Skip first line in file
        if 'Name,Term_Start,Term_End' not in line: 
            # Filter / , ' . characters out of the string
            line = line.replace('\'','').replace('.','').replace(',',' ')

            # Change the string into a list of items seperated by spaces
            line = line.split()

            # If there is no middle name
            if len(line) == 5:

                # Insert n/a as the middle name
                line.insert(2, ' ')

            # Store presidents years in office at the end of the list
            # (Using the difference of the end/start dates)
            line.append(str(int(line[5][-4:]) - int(line[4][-4:])))

            # store data into a dictionary with the presidents order number as a key
            data[int(line[0])] = line
        line = file.readline()

# Sort dictionary by it's items index, then convert back to a dictionary
data = dict(sorted(data.items()))

In [102]:
# Open the file in write mode (will be created if it doesn't exist)
file = open("solution.txt", 'w')
# Format the list to a writeable string
[file.write(' '.join(data[line])+'\n') for line in data]
file.close()

In [105]:
# Save that data to the database
connection = sqlite3.connect('united_states.db')
cursor = connection.cursor()
cursor.execute('''create table if not exists presidents (
        order_number text, 
        first_name text, 
        middle_initial text, 
        last_name text, 
        begin_term text, 
        end_term text, 
        years_in_office real
)''')
[cursor.execute('insert into presidents values(?,?,?,?,?,?,?)', data[item]) for item in data]
connection.commit()
connection.close()

In [106]:
# Retreive presidents from the database in presidential order
connection = sqlite3.connect('united_states.db')
cursor = connection.cursor()
presidents = cursor.execute('select * from presidents')
[print(president) for president in presidents]
connection.close()

('1', 'George', ' ', 'Washington', '04/30/1789', '03/04/1797', 8.0)
('2', 'John', ' ', 'Adams', '03/04/1797', '03/04/1801', 4.0)
('3', 'Thomas', ' ', 'Jefferson', '03/04/1801', '03/04/1809', 8.0)
('4', 'James', ' ', 'Madison', '03/04/1809', '03/04/1817', 8.0)
('5', 'James', ' ', 'Monroe', '03/04/1817', '03/04/1825', 8.0)
('6', 'John', 'Quincy', 'Adams', '03/04/1825', '03/04/1829', 4.0)
('7', 'Andrew', ' ', 'Jackson', '03/04/1829', '03/04/1837', 8.0)
('8', 'Martin', 'Van', 'Buren', '03/04/1837', '03/04/1841', 4.0)
('9', 'William', 'Henry', 'Harrison', '03/04/1841', '04/04/1841', 0.0)
('10', 'John', ' ', 'Tyler', '04/04/1841', '03/04/1845', 4.0)
('11', 'James', 'K', 'Polk', '03/04/1845', '03/04/1849', 4.0)
('12', 'Zachary', ' ', 'Taylor', '03/04/1849', '07/09/1850', 1.0)
('13', 'Millard', ' ', 'Fillmore', '07/09/1850', '03/04/1853', 3.0)
('14', 'Franklin', ' ', 'Pierce', '03/04/1853', '03/04/1857', 4.0)
('15', 'James', ' ', 'Buchanan', '03/04/1857', '03/04/1861', 4.0)
('16', 'Abraham', ' ', 'Lincoln', '03/04/1861', '04/15/1865', 4.0)
('17', 'Andrew', ' ', 'Johnson', '04/15/1865', '03/04/1869', 4.0)
('18', 'Ulysses', 'S', 'Grant', '03/04/1869', '03/04/1877', 8.0)
('19', 'Rutherford', 'B', 'Hayes', '03/04/1877', '03/04/1881', 4.0)
('20', 'James', ' ', 'Garfield', '03/04/1881', '09/19/1881', 0.0)
('21', 'Chester', ' ', 'Arthur', '09/19/1881', '03/04/1885', 4.0)
('22', 'Grover', ' ', 'Cleveland', '03/04/1885', '03/04/1889', 4.0)
('23', 'Benjamin', ' ', 'Harrison', '03/04/1889', '03/04/1893', 4.0)
('24', 'Grover', ' ', 'Cleveland', '03/04/1893', '03/04/1897', 4.0)
('25', 'William', ' ', 'McKinley', '03/04/1897', '09/14/1901', 4.0)
('26', 'Theodore', ' ', 'Roosevelt', '09/14/1901', '03/04/1909', 8.0)
('27', 'William', 'Howard', 'Taft', '03/04/1909', '03/04/1913', 4.0)
('28', 'Woodrow', ' ', 'Wilson', '03/04/1913', '03/04/1921', 8.0)
('29', 'Warren', 'G', 'Harding', '03/04/1921', '08/02/1923', 2.0)
('30', 'Calvin', ' ', 'Coolidge', '08/02/1923', '03/04/1929', 6.0)
('31', 'Herbert', ' ', 'Hoover', '03/04/1929', '03/04/1933', 4.0)
('32', 'Franklin', 'D', 'Roosevelt', '03/04/1933', '04/12/1945', 12.0)
('33', 'Harry', 'S', 'Truman', '04/12/1945', '01/20/1953', 8.0)
('34', 'Dwight', ' ', 'Eisenhower', '01/20/1953', '01/20/1961', 8.0)
('35', 'John', 'F', 'Kennedy', '01/20/1961', '11/22/1963', 2.0)
('36', 'Lyndon', 'B', 'Johnson', '11/22/1963', '01/20/1969', 6.0)
('37', 'Richard', ' ', 'Nixon', '01/20/1969', '08/09/1974', 5.0)
('38', 'Gerald', ' ', 'Ford', '08/09/1974', '01/20/1977', 3.0)
('39', 'Jimmy', ' ', 'Carter', '01/20/1977', '01/20/1981', 4.0)
('40', 'Ronald', ' ', 'Reagan', '01/20/1981', '01/20/1989', 8.0)
('41', 'George', ' ', 'Bush', '01/20/1989', '01/20/1993', 4.0)
('42', 'Bill', ' ', 'Clinton', '01/20/1993', '01/20/2001', 8.0)
('43', 'George', 'W', 'Bush', '01/20/2001', '01/20/2009', 8.0)
('44', 'Barack', ' ', 'Obama', '01/20/2009', '01/20/2017', 8.0)

In [107]:
# Query all presidents whose last name begins with 'R' or 'A'
connection = sqlite3.connect('united_states.db')
cursor = connection.cursor()
R = list(cursor.execute("select * from presidents where last_name like 'R%' or last_name like 'A%'"))
connection.close()
[print(president)for president in R]

('2', 'John', ' ', 'Adams', '03/04/1797', '03/04/1801', 4.0)
('6', 'John', 'Quincy', 'Adams', '03/04/1825', '03/04/1829', 4.0)
('21', 'Chester', ' ', 'Arthur', '09/19/1881', '03/04/1885', 4.0)
('26', 'Theodore', ' ', 'Roosevelt', '09/14/1901', '03/04/1909', 8.0)
('32', 'Franklin', 'D', 'Roosevelt', '03/04/1933', '04/12/1945', 12.0)
('40', 'Ronald', ' ', 'Reagan', '01/20/1981', '01/20/1989', 8.0)

[None, None, None, None, None, None]

In [110]:
# Get a count of all the letters and how often they occur
# Smashing all of the names into a string
massive_string = ''.join([''.join(data[president][1:4]) for president in data]).lower().replace(' ','')
# key:value pairs of letters and how often they occur
results = {letter : massive_string.count(letter) for letter in massive_string}
print(results)

{'g': 17, 'e': 55, 'o': 49, 'r': 59, 'w': 14, 'a': 57, 's': 29, 'h': 29, 'i': 32, 'n': 53, 't': 19, 'j': 15, 'd': 23, 'm': 23, 'f': 10, 'q': 1, 'u': 9, 'c': 16, 'y': 12, 'k': 8, 'v': 9, 'b': 12, 'l': 35, 'p': 2, 'z': 1, 'x': 1}

In [152]:
# Number of presidents in a century
term_dates = [(data[president][4][-4:-2],data[president][5][-4:-2]) for president in data]
results = {'1700s':0, '1800s':0, '1900s':0, '2000s':0}

# Checking centuries against the presidents active years
for term in term_dates:
    for century in results:
        if century[:2] in term:
            results[century] += 1
print(results)

{'1700s': 2, '1800s': 24, '1900s': 18, '2000s': 3}