<a href="https://codeimmersives.com"><img src = "https://www.codeimmersives.com/wp-content/uploads/2019/09/CodeImmersives_Logo_RGB_NYC_BW.png" width = 400> </a>


<h1 align=center><font size = 5>Agenda</font></h1>

### Agenda
<div class="alert alert-block alert-info" style="margin-top: 20px">

1.  [Review data types](#0)<br>
2.  [SQLAlchemy](#2)<br> 
</div>
<hr>

<h2>Review</h2>

<h2>SQLAlchemy Generic Data Types</h2>
<code>
    BigInteger
    Boolean
    Date
    DateTime
    Float
    Integer
    Numeric
    SmallInteger
    String
    Text
    Time<br><br>
</code>
You must import the data types!<br>
<code>
    from sqlalchemy import Column, ForeignKey, Integer, String, Float
</code>

<h2>SQLAlchemy - Table creation</h2>
Databases are created using the create_engine method.<br>
A table is created by subclassing from declarative_base<br>
if you use this method of table creation and the code below <br>
is run multiple times it does not erase the table<br>

In [3]:
import os
from sqlalchemy import Column, ForeignKey, Integer, String, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker
# ---------------------------------------------
Base = declarative_base()   # All clases inherit from here
 
class User(Base):
    __tablename__ = 'users'     # REQUIRED !!!!!!!!
    # Here we define columns for the table users
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)      # Every table must have a primary key
    first_name = Column(String(250), nullable=False)
    last_name = Column(String(250), nullable=False)
    
# Create an engine that stores data in the local directory's
engine = create_engine('sqlite:///sqlalchemy_simple.db')
 
# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)      # It automatically does a IF NOT EXISTS
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
 
# Insert a new user in the table with a new id every time this code is run
new_person = User(first_name='Jane', last_name = 'Reiss')   # The id field is auto incremented
session.add(new_person)
session.commit()           # Save the record
tables = engine.table_names()   # Which tables exist in the database
for table in tables:
    print(table)

users

/var/folders/hl/rnkm2m_d3s92k66lxdhnvbpr0000gn/T/ipykernel_12691/602810700.py:31: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  tables = engine.table_names()   # Which tables exist in the database

<h2>SQLAlchemy - Dropping a table</h2>
To drop a table:<br>
    <code>
    TableName.__table__.drop()
    </code>

In [105]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
# ---------------------------------------------
Base = declarative_base()   # All clases inherit from here
 
class User(Base):
    __tablename__ = 'users'     # REQUIRED !!!!!!!!
    # Here we define columns for the table users
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)      # Every table must have a primary key
    first_name = Column(String(250), nullable=False)
    last_name = Column(String(250), nullable=False)
    
# Create an engine that stores data in the local directory's
engine = create_engine('sqlite:///sqlalchemy_simple.db')

Base.metadata.bind = engine

DBSession = sessionmaker(bind=engine)
session = DBSession()

tables = engine.table_names()   # Which tables exist in the database
i = 0
for table in tables:
    print(table)
    User.__table__.drop()
    i += 1
if not i:
    print('NO TABLES EXISTED')


# RUN THE TABLE CREATION CODE AGAIN AFTER DELETING !!!!!

NO TABLES EXISTED

<h2>Adding multiple records</h2>
Use:
    <code>
    session.add_all([...])
    </code>

In [109]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
# ---------------------------------------------
Base = declarative_base()   # All clases inherit from here
 
class User(Base):
    __tablename__ = 'users'     # REQUIRED !!!!!!!!
    # Here we define columns for the table users
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)      # Every table must have a primary key
    first_name = Column(String(250), nullable=False)
    last_name = Column(String(250), nullable=False)
    
# Create an engine that stores data in the local directory's
engine = create_engine('sqlite:///sqlalchemy_simple.db')

Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# ----------------------------------------- Add records below
session.add_all([
    User(first_name = 'Peter', last_name = 'Evans'), 
    User(first_name = 'Pau', last_name = 'Knotte'),
    User(first_name = 'Kate', last_name = 'Dredd'),
    User(first_name = 'Peter', last_name = 'Evans'),
    User(first_name = 'Forrest', last_name = 'Trudesdale')
]
)

session.commit()
result = session.query(User).all()   # <----SELECT Statement

for row in result:
    print ("First: ",row.first_name, "-   Last:",row.last_name)
print('='*40)

First:  Jane -   Last: Reiss
First:  Peter -   Last: Evans
First:  Pau -   Last: Knotte
First:  Kate -   Last: Dredd
First:  Peter -   Last: Evans
First:  Forrest -   Last: Trudesdale
First:  Peter -   Last: Evans
First:  Pau -   Last: Knotte
First:  Kate -   Last: Dredd
First:  Peter -   Last: Evans
First:  Forrest -   Last: Trudesdale
========================================

<h2>Exercise</h2>
Database CI_E_Commerce
Create the following 2 tables:
<br>
Customer Table <br>
id auto incrementing, Primary key<br>
code varchar(10), <br>
first_name varchar(30), <br>
last_name varchar(40), <br>
region varchar(10), <br>
balance_owed float <br>
NOTE: The data types are generalized use the proper translation for the ORM
     <br> <br>
Purchases Table <br>
id auto incrementing Primary key <br>
cust_code varchar(10) <br>
item_id varchar(20), <br>
description varchar(200) <br>
quantity integer <br>
price float <br>
 <br>
  <br>
Data with SQL equivalent:<br>
INSERT INTO CUSTOMER (code, first_name, last_name, region, balance_owed)  VALUES<br>
('JB-001','Jason','Bourne','South',3500)<br>
<br>
INSERT INTO CUSTOMER (code, first_name, last_name, region, balance_owed)  VALUES<br>
('KB-900','Karen','Beal','North',10000)<br>
<br>
INSERT INTO CUSTOMER (code, first_name, last_name, region, balance_owed)  VALUES<br>
('LS-810','Lea','Simpson','South',4400)<br>
<br>
INSERT INTO CUSTOMER (code, first_name, last_name, region, balance_owed)  VALUES<br>
('RR-002','Robert','Reel','East',23000)<br>
<br>
INSERT INTO CUSTOMER (code, first_name, last_name, region, balance_owed)  VALUES<br>
('PK-700','Peter','Krause','South',9800)<br>
<br>

INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('JB-001','TV-001','65 inch 4K TV',1,799)<br> 
INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('JB-001','SB-999','30 inch sound bar',1,99)<br>
INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('JB-001','SW-001','6 foot speaker wire',2,4.99)<br>
INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('PK-700','CI-001','9 inch Cast Iron fry pan ',3,12,99)<br> 
INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('PK-700','PH-888','6 pack of pot holders',3,1.49)<br>
INSERT INTO PURCHASES (cust_code,item_id, description, quantity, price)  VALUES<br>
('PK-700','TG-555','12 inch food tongs',6,6.99)<br>

In [117]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
# ---------------------------------------------
Base = declarative_base()   # All clases inherit from here
 
class Customer(Base):
    __tablename__ = 'customers'     # REQUIRED !!!!!!!!
    id = Column(Integer, primary_key=True)      # Every table must have a primary key
    code = Column(String(10), nullable=False)
    first_name = Column(String(250), nullable=False)
    last_name = Column(String(250), nullable=False)
    region = Column(String(10), nullable=False)
    balance_owed = Column(Float, nullable=False)
    
class Purchases(Base):
    __tablename__ = 'purchases'     # REQUIRED !!!!!!!!
    id = Column(Integer, primary_key=True)      # Every table must have a primary key
    cust_code = Column(String(10), nullable=False) 
    item_id = Column(String(20), nullable=False) 
    description = Column(String(200), nullable=False) 
    quantity = Column(Integer, nullable=False) 
    price = Column(Float, nullable=False) 
    
# Create an engine that stores data in the local directory's
engine = create_engine('sqlite:///CI_E_Commerce.db')
 
# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)      # It automatically does a IF NOT EXISTS
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
 
tables = engine.table_names()   # Which tables exist in the database
for table in tables:
    print(table)
# ----------------------------------------- Add records below
session.add_all([
    Customer(code = 'JB-001' ,first_name = 'Jason', last_name = 'Bourne',region = 'South', balance_owed = 3500),
    Customer(code = 'KB-900' ,first_name = 'Karen', last_name = 'Beal',region = 'North', balance_owed = 10000),
    Customer(code = 'LS-810' ,first_name = 'Lea', last_name = 'Simpson',region = 'South', balance_owed = 4400),
    Customer(code = 'RR-002' ,first_name = 'Robert', last_name = 'Reel',region = 'East', balance_owed = 23000),
    Customer(code = 'PK-700' ,first_name = 'Peter', last_name = 'Krause',region = 'South', balance_owed = 9800),
    Purchases(cust_code = 'JB-001' ,item_id = 'TV-001', description = '65 inch 4K TV',quantity = 1, price = 799),
    Purchases(cust_code = 'JB-001' ,item_id = 'SB-999', description = '30 inch sound bar',quantity = 1, price = 99),
]
)
session.commit()
result = session.query(Customer).all()   # <----SELECT Statement

for row in result:
    print ("Id: ",row.id, "First: ",row.first_name, "-   Last:",row.last_name)
print('='*40)
#
result = session.query(Purchases).all()   # <----SELECT Statement

for row in result:
    print ("Id: ",row.id, "cust code: ",row.cust_code, "-   item id:",row.item_id)
print('='*40)

customers
purchases
Id:  1 First:  Jason -   Last: Bourne
Id:  2 First:  Karen -   Last: Beal
Id:  3 First:  Lea -   Last: Simpson
Id:  4 First:  Robert -   Last: Reel
Id:  5 First:  Peter -   Last: Krause
========================================
Id:  1 cust code:  JB-001 -   item id: TV-001
Id:  2 cust code:  JB-001 -   item id: SB-999
========================================

A class using Declarative at a minimum needs a '\___tablename\___' attribute, and at least one Column which is part of a primary key 1. SQLAlchemy never makes any assumptions by itself about the table to which a class refers, including that it has no built-in conventions for names, datatypes, or constraints. 

When our class is constructed, Declarative replaces all the Column objects with special Python accessors known as descriptors; this is a process known as instrumentation. The “instrumented” mapped class will provide us with the means to refer to our table in a SQL context as well as to persist and load the values of columns from the database.

Outside of what the mapping process does to our class, the class remains otherwise mostly a normal Python class, to which we can define any number of ordinary attributes and methods needed by our application.

Create the following 2 tables by copying the code in the next 2 code<br>
blocks and save them using the file name on the first line of each code block.<br>
Run each subsequent code block in VS Code to demonstrate all of the features <br>
of SQLAlchemy.

In [74]:
# sqlalchemy_declarative.py
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
 
Base = declarative_base()   # All clases inherit from here
 
class Person(Base):
    __tablename__ = 'person'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    first_name = Column(String(250), nullable=False)
    last_name = Column(String(250), nullable=False)
    
class Address(Base):
    __tablename__ = 'address'
    # Here we define columns for the table address.
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    street_name = Column(String(250))
    street_number = Column(String(250))
    post_code = Column(String(250), nullable=False)
    person_id = Column(Integer, ForeignKey('person.id'))
    person = relationship(Person)     # Related to this table by the foreign key
 
# Create an engine that stores data in the local directory's
# sqlalchemy_example.db file.
engine = create_engine('sqlite:///sqlalchemy_CI.db')
 
# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)

In [75]:
# sqlalchemy_insert.py
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
 
from sqlalchemy_declarative import Address, Base, Person  # The classes imported
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
 
# Insert a Person in the person table
new_person = Person(first_name='Jane', last_name = 'Reiss')
session.add(new_person)
session.commit()

session.add_all([
    Person(first_name = 'Peter', last_name = 'Evans'), 
    Person(first_name = 'Pau', last_name = 'Knotte'),
    Person(first_name = 'Kate', last_name = 'Dredd'),
    Person(first_name = 'Peter', last_name = 'Evans'),
    Person(first_name = 'Forrest', last_name = 'Trudesdale')
]
)

session.commit()

<h2>The SQLAlchemy equivalent of a SELECT statement</h2>
See below

In [76]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()

result = session.query(Person).all()   # <----SELECT Statement

for row in result:
    print ("First: ",row.first_name, "-   Last:",row.last_name)
print('='*40)

result = session.query(Person).order_by(Person.first_name).all()   # <----SELECT Statement with order_by
for row in result:
    row.id
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)

print('='*40)
result = session.query(Person).count() # <----SELECT Statement with COUNT
print ("Person records = ",result)

First:  Jane -   Last: Reiss
First:  Jane -   Last: Reiss
First:  Jane -   Last: Reiss
First:  Jane -   Last: Reiss
First:  Jane -   Last: Reiss
First:  Peter -   Last: Evans
First:  Pau -   Last: Knotte
First:  Kate -   Last: Dredd
First:  Jane -   Last: Reiss
First:  Peter -   Last: Evans
First:  Pau -   Last: Knotte
First:  Kate -   Last: Dredd-Scottish
First:  Jane -   Last: Reiss
First:  Peter -   Last: Evans
First:  Pau -   Last: Knotte
First:  Kate -   Last: Dredd
First:  Peter -   Last: Evans
First:  Forrest -   Last: Trudesdale
========================================
id 18  - First:  Forrest -   Last: Trudesdale
id 1  - First:  Jane -   Last: Reiss
id 2  - First:  Jane -   Last: Reiss
id 3  - First:  Jane -   Last: Reiss
id 4  - First:  Jane -   Last: Reiss
id 5  - First:  Jane -   Last: Reiss
id 9  - First:  Jane -   Last: Reiss
id 13  - First:  Jane -   Last: Reiss
id 8  - First:  Kate -   Last: Dredd
id 12  - First:  Kate -   Last: Dredd-Scottish
id 16  - First:  Kate -   Last: Dredd
id 7  - First:  Pau -   Last: Knotte
id 11  - First:  Pau -   Last: Knotte
id 15  - First:  Pau -   Last: Knotte
id 6  - First:  Peter -   Last: Evans
id 10  - First:  Peter -   Last: Evans
id 14  - First:  Peter -   Last: Evans
id 17  - First:  Peter -   Last: Evans
========================================
Person records =  18

<h2>SqlAlchemy - using an id to retreive a record</h2>
<code>
session.query(Person).get(2)
</code>

In [22]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
x = session.query(Person).get(12)    # <--- Used the primary key
print(x.id,x.first_name,x.last_name)

12 Kate Dredd

<h2>SQLAlchemy - update</h2>
Kate was married and changed her last name to a hyphenated last name<br>
We can make the change easily by changing the database object's property

In [24]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
x = session.query(Person).get(12)    # <--- Used the primary key
print(x.id,x.first_name,x.last_name)
x.last_name = 'Dredd-Scottish'       # <---- Name changed here
session.commit()                     # <---- Change committed
x = session.query(Person).get(12)    # <--- Used the primary key
print('='*35)
print(x.id,x.first_name,x.last_name)

12 Kate Dredd-Scottish
===================================
12 Kate Dredd-Scottish

<h2>SQLAlchemy - Get the first record</h2>

In [27]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# -------------------------------------
x = session.query(Person).first()
print(x.id,x.first_name,x.last_name)

1 Jane Reiss

<h2>SQLAlchemy - Rolling back a change</h2>

In [28]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
x = session.query(Person).get(12)    # <--- Used the primary key
print(x.id,x.first_name,x.last_name)
x.last_name = 'Dredd-Scottish-Redding'

session.rollback()                   # <---- Reverse the change

x = session.query(Person).get(12)    # <--- Used the primary key
print(x.id,x.first_name,x.last_name)

12 Kate Dredd-Scottish
12 Kate Dredd-Scottish

<h2> SQLAlchemy Query with not equals</h2>
<code>
    result = session.query(Person).filter(Person.first_name !='Jane')
</code>

In [44]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# -------------------------------------------
result = session.query(Person).filter(Person.first_name !='Jane')
for row in result:
    row.id
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)

id 6  - First:  Peter -   Last: Evans
id 7  - First:  Pau -   Last: Knotte
id 8  - First:  Kate -   Last: Dredd
id 10  - First:  Peter -   Last: Evans
id 11  - First:  Pau -   Last: Knotte
id 12  - First:  Kate -   Last: Dredd-Scottish

<h2>SQLAlchemy - Like, In, And, Or</h2>

In [2]:
from sqlalchemy import create_engine, and_ , or_   # NEW Import
from sqlalchemy.orm import sessionmaker
  
import os
os.chdir('C:\\Projects\\Code_immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# ------------------------------------------- like
result = session.query(Person).filter(Person.first_name.like('J%'))
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)
# ------------------------------------------ in_
print('='*35)
result = session.query(Person).filter(Person.id.in_([2,4,6,8]))
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)
    
# ------------------------------------------ and_
print('='*35)
result = session.query(Person).filter(and_(Person.id.in_([2,4,6,8]),Person.last_name=='Reiss'))
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)
# ------------------------------------------ NOT IN using ~
print('='*35,"NOT IN")    
result = session.query(Person).filter(~Person.last_name.in_(['Reiss', 'Evans','Dredd'])) 
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)
# ------------------------------------------ or_
print('='*35)
result = session.query(Person).filter(or_(Person.id.in_([2,4,6,8]),Person.first_name=='Pau'))
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)

ModuleNotFoundError: No module named 'sqlalchemy_declarative'

<h2>SQLAlchemy - text constructs</h2><br>
Literal strings can be used flexibly with a Query object<br>
by specifying their use with the text() construct.  <br>
It can be used with the filter() and order_by()

In [11]:
from sqlalchemy import create_engine, and_ , or_ ,text  # NEW Import for text
from sqlalchemy.orm import sessionmaker
  
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# ------------------------------------------- 
result = session.query(Person).filter(text("id>8")) 
for row in result:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)

id 9  - First:  Jane -   Last: Reiss
id 10  - First:  Peter -   Last: Evans
id 11  - First:  Pau -   Last: Knotte
id 12  - First:  Kate -   Last: Dredd-Scottish

<h2>SQLAlchemy - Parameterized filter</h2>
To specify bind parameters with string-based SQL, use a colon to specify<br>
the values

In [20]:
from sqlalchemy import create_engine, and_ , or_ ,text  # NEW Import for text
from sqlalchemy.orm import sessionmaker
  
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# ------------------------------------------- 1 parameter used
pers = session.query(Person).filter(text("id = :value")).params(value = 4)
for row in pers:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)  
print('='*35)
# ------------------------------------------- Multiple parameters used
pers = session.query(Person).filter(text("id >= :value and last_name = :value2")).params(value = 4,value2 = 'Reiss')
for row in pers:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)

id 4  - First:  Jane -   Last: Reiss
===================================
id 4  - First:  Jane -   Last: Reiss
id 5  - First:  Jane -   Last: Reiss
id 9  - First:  Jane -   Last: Reiss

<h2>SQLAlchemy - passing in SQL text statements</h2>
You can also pass in SQL text statements using from_statement()

In [23]:
from sqlalchemy import create_engine, and_ , or_ ,text  # NEW Import for text
from sqlalchemy.orm import sessionmaker
  
import os
os.chdir('C:\\Projects\\Code immersives\\')
from sqlalchemy_declarative import Address, Base, Person  # The classes
 
engine = create_engine('sqlite:///sqlalchemy_CI.db')
# 
Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)
session = DBSession()
# ------------------------------------------- from_statement
pers = session.query(Person).from_statement(text("SELECT * FROM person")).all()
for row in pers:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)  
print('='*35)
# ------------------------------------------- from_statement and a where clause
pers = session.query(Person).from_statement(text("SELECT * FROM person WHERE last_name like 'K%'")).all()
for row in pers:
    print ("id",row.id," - First: ",row.first_name, "-   Last:",row.last_name)  
print('='*35)

id 1  - First:  Jane -   Last: Reiss
id 2  - First:  Jane -   Last: Reiss
id 3  - First:  Jane -   Last: Reiss
id 4  - First:  Jane -   Last: Reiss
id 5  - First:  Jane -   Last: Reiss
id 6  - First:  Peter -   Last: Evans
id 7  - First:  Pau -   Last: Knotte
id 8  - First:  Kate -   Last: Dredd
id 9  - First:  Jane -   Last: Reiss
id 10  - First:  Peter -   Last: Evans
id 11  - First:  Pau -   Last: Knotte
id 12  - First:  Kate -   Last: Dredd-Scottish
===================================
id 7  - First:  Pau -   Last: Knotte
id 11  - First:  Pau -   Last: Knotte
===================================

<h2>Exercise</h2>
Putting it all together.<br>
Create a route to capture: '/login or /signup' <br>
Username<br>
email<br>
password - Encrypted - you choose<br> 
Keep track of login attempts per username<br>
Did the user forget their password?<br>
Limit to 5 logins.  Otherwise lock account<br>
At the server keep track of the total number of unique logins<br>
Use SQLAlchemy to store the database objects<br>
USe SQLite to store the data.

<h4>Step 1 - Create 2 routes</h4>

In [ ]:
from flask import Flask, render_template
import os
os.chdir('C:\\Projects\\Code immersives\\')

app = Flask(__name__) 

@app.route('/login')
def login():
    return "<h1>*** Welcome to Code Immersives LOG IN PAGE***</h1>"

@app.route('/signup')
def signup():
    return "<h1>*** Welcome to Code Immersives SIGN UP PAGE***</h1>"

if __name__ == '__main__':
    app.run(host='localhost',debug=True, port=8000)

<h4>Step 2 - Create template</h4>
Template should gather the username and password

<h4>Step 3 - Create Database using SQLAlchemy</h4>

<h4>Step 4 - Add code to handle POST and GET</h4>

<h4>Step 5 - Store the user data to the database</h4>

<h4>Step 6 - Retreive and validate user</h4>
Send appropriate message back based on login or signup

This notebook is part of a course at www.codeimmersives.com called Rest Apis with Python. If you accessed this notebook outside the course, 
you can get more information about this course online by clicking [here](https://www.codeimmersives.com/programs/python-aws/).